# VS trash
Debug.win32
Debug
Release
ipch
*.sdf
*.opensdf
*.suo

# Compiled Object files
*.slo
*.lo
*.o
*.d
*.idc

# Compiled Dynamic libraries
*.so
*.dylib
*.lib

# Compiled Static libraries
*.lai
*.la
*.a
